.pd-2
{
    padding: 2px;
}

.pd-3
{
    padding: 3px;
}

.pd-5
{
    padding: 5px;
}

.mg-2
{
    margin: 2px;
}

.mg3
{
    margin: 3px;
}

.mg-5
{
    margin: 5px;
}

.mx-20
{
    margin: 20px 0px;
}

.myt-5
{
    margin-top: 5px;
}

.myt-8
{
    margin-top: 8px;
}

.mxl-5
{
    margin-left: 5px;
}

.mxl-8
{
    margin-left: 8px;
}
.mxr-5
{
    margin-right: 5px;
}

.mxr-8
{
    margin-right: 8px;
}