.wd-50
{
    width: 50vw;
}
.wd-60
{
    width: 60vw;
}
.wd-70
{
    width: 70vw;
}

.ht-full
{
    height: 100%;
}
.ht-2
{
    height: 2vw;
}

.ht-5
{
    height: 25vw;
}

.wd-full
{
    width: 100%;
}